body{
    margin: 0;
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
}
.header{
  background-color: black;
    max-height: 200px;
    height: 120px;
    width: 100%;
    padding-top: 20px;
    border-bottom: 2px solid red;
}
.heading{
    width: 90%;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.header-logo{
    height: 100px;
    width: 15%;
}
.header-logo img{
    height: 100px;
    aspect-ratio: 2 / 1;
}
.spc30{
    height: 30px;
    width: 100%;
}
.spc70{
    height: 70px;
    width: 100%;
}
.spc50{
    height: 50px;
    width: 100%;
}
.header-menu{
    height: 100px;
    width: 70%;
    padding-top: 20px;
}
.header-menu li{
    display: inline;
    padding: 0px 30px;
    font-size: 25px;
    cursor: pointer;
}
.header-menu a{
  color: red;
}
.testimony{
    height: 400px;
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    
}
.testimony1{
    height: 300px;
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
}

.container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: px;
    margin: 5px 30%;
    width: 50%;

  }
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container span {
    font-size: 20px;
    margin-right: 15px;
  }
 /* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}
.testimony2{
    height: 300px;
    width: 100%;
  }
.footer{
    background-color: black;
    max-height: 250px;
    height: 220px;
    width: 100%;
    padding-top: 15px;
}
.footer-desc{
    height: 200px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footerid{
    width: 20%;
}
.footerid h2{
    text-transform: capitalize;
    font-size: 25px;
    color: red;
}
.footerid li{
    list-style: none;
    color: white;
    font-size: 20px;
    margin-top: 3px;
}
.sub{
    margin-top: 10px;
    border-radius: 10px;
    background-color: red;
    color: white;
    cursor: pointer;
}
